body,html{
	line-height: 1;
	font-family:"PingFang SC","STHeitiSC-Light","Helvetica-Light", arial,sans-serif;
	user-select:none;
	-webkit-tap-highlight-color:transparent;
	background:#fff;
	color: #333;
}
/*不换行*/
.no-wrap{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*扩展点击区域*/
.extend-click{
  position: relative;
}
.extend-click:before{
	content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}
/*1px边框*/
.border1px{
  position:relative;
}
.border1px:after{
  display:block;
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  border-top:1px solid rgba(7,17,27,0.1);
  content:" ";
}
.border1px-top{
  position:relative;
}
.border1px-top:before{
  display:block;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  border-top:1px solid rgba(7,17,27,0.1);
  content:" ";
}

